
.loader {
  background: black;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.7;
  animation: desappear 2s;
  visibility: hidden;  
  
 }
 @keyframes desappear{
    0% {visibility: visible;}
   99% { visibility: hidden;}
 }

.rotation{
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  background: white;
  border-top: 16px solid #9356DC ;
  border-bottom: 16px solid #FF79DA;
  height: 200px;
  width: 200px;
  animation: spin1 2s linear ;
}
@keyframes spin1 {
  0% { transform: rotate(0deg);visibility: visible ;  }
  100% { transform: rotate(360deg);   visibility: hidden; display: none;  }
}

.word span{
  
  display: inline-flex;
  padding-top: 60px;
  padding-left: 15px ;
  font-size: 25px;
  background: linear-gradient( to bottom,#FF79DA,  #9356DC );
  background-clip: text;
 -webkit-text-fill-color: transparent;
 font-family: 'Shrikhand';
 font-weight: 700;
 animation: spin2 2s;
 }

 @keyframes spin2 {
  0% { transform: scale(0);visibility: visible ;  }
  100% { transform: scale(1);   visibility: hidden;  display: none;  }
} 




