.reserve{
  display: flex;
  flex-direction: column;

  background-color: #f6f6f6;
   padding:5%;
}
.reserve h1 {
  text-align: center;
  font-size: 24px;

  font-weight: 700;
}

.reserve p{
    text-align: center;
    padding-top: 3%;
    font-size: 18px;
    font-weight: 300;
}

 
.explorer {
 text-align: center;
  border-width: 2px;
  border-radius:25px;
  border-color: #d9d9d9;
  background: linear-gradient( to bottom,#FF79DA,  #9356DC );
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 1em;
  width: 218px;
  margin: auto;
 } 

.explorer:hover{
  opacity: 0.8;
  } 




